<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/77cd4d76-051b-4f48-b697-f0afbc9517a6/v3/index.json" />
  </packageSources>
</configuration>